<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>

<center><h1> Sample Swagger Spec Application Create RestAPI </h1></center>


    <ul>
        <center><li>Deployed it on gunicorn server and heroku</li></center>
        <center><li>Tested it with postman</li></center>
         <center><li>i was used sqlite database as backend</li></center>
        <center><li>write pytest cases for API status and execute them</li></center>
    </ul>



</body>
</html>